body {
  background: black;
  color: white;
}

.playform {
  width: 700px;
  margin: 10px auto;
  .playform-team-select {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    width: 60%;
    margin: 0 auto;
    label {
      font-size: 1.5rem;
    }
    input {
      margin: 0 5px;
    }
  }
  .playform-game-status {
    display: flex;
    .playform-game-period {
      width: 50px;
    }
    .playform-to-go, .playform-line-of-scrimmage {
      font-size: 1.2rem; 
      margin-left: 10px;
    }
  }
  .pf-field-position {
    display: flex;
    flex-flow: column;
    gap: 5px;
    align-items: flex-end;
    .pf-field-position-slider {
      -webkit-appearance: none;
      appearance: none;
      width: 100%;
      height: 5px;
      border-radius: 5px;
      border: 1px solid greenyellow;
      background: black;
      flex-grow: 1;
    }
    .pf-field-position-slider::-webkit-slider-thumb {
      appearance: none;
      width: 2px;
      height: 10px;
      background-color: greenyellow;
    }
    .pf-field-position-slider::-moz-slider-thumb {
      appearance: none;
      width: 2px;
      height: 10px;
      background-color: greenyellow;
    }
    .pf-field-position-slider.slider-home::-webkit-slider-thumb {
      width: 0px;
      height: 16px;
      border-top: 8px solid transparent;
      border-left: 5px solid greenyellow;
      border-bottom: 8px solid transparent;
      background: transparent;
    }
    .pf-field-position-slider.slider-home::-moz-slider-thumb {
      width: 0px;
      height: 16px;
      border-top: 8px solid transparent;
      border-right: 5px solid greenyellow;
      border-bottom: 8px solid transparent;
      background: transparent;
    }
    .pf-field-position-slider.slider-away::-webkit-slider-thumb {
      width: 0px;
      height: 16px;
      border-top: 8px solid transparent;
      border-right: 5px solid greenyellow;
      border-bottom: 8px solid transparent;
      background: transparent;
    }
    .pf-field-position-slider.slider-away::-moz-slider-thumb {
      width: 0px;
      height: 16px;
      border-top: 8px solid transparent;
      border-right: 5px solid greenyellow;
      border-bottom: 8px solid transparent;
      background: transparent;
    }
    .pf-field-position-slider.slider-off::-webkit-slider-thumb {
      width: 0px;
      border: 0;
    }
    .pf-field-position-slider.slider-off::-moz-slider-thumb {
      width: 0px;
      border: 0;
    }
    .pf-field-position-clear {
      background: black;
      border-radius: 5px;
      border: 1px solid red;
      color: greenyellow;
    }
    .pf-field-position-clear:disabled {
      border: 1px solid rgb(136, 1, 1);
      color: rgb(86, 128, 24);
    }
  }
  .pf-pass {
    .pf-pass-root {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }
  .playform-interception {
    .pf-int-statline {
      display: flex;
      gap: 10px;
      align-items: baseline;
    }
  }
  .playform-type-radios {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
  }
  .playform-timebox {
    background: none;
    border: none;
    width: 3.1rem;
    font-family: monospace;
    color: greenyellow;
    font-size: 1.7rem;
    height: 30px;
    outline: 1px solid greenyellow;
  }
  /* .playform-timebox:focus-visible {
  } */
}
