* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: #212121;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav {
  box-shadow: inset 0 -8px 10px -5px greenyellow;
  font-family: Verdana, Helvetica, sans-serif;
  font-weight: bold;
  .nav-the {
    color: white;
  }
  .nav-backfield {
    color: greenyellow;
  }
  .nav-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    flex-grow: 5;
    margin: 0;
    font-family: Tahoma, sans-serif;
    .nav-active {
      color: white;
      text-decoration: overline;
      text-decoration-color: greenyellow;
    }
  }
  .button {
    transform: scale(0.8);
  }
}

.info-box {
  display: flex;
  position: relative;
  width: 700px;
  margin: 20px auto 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  .ib-left {
    width: 50%;
    position: relative;
    .header-top-line, .header-bottom-line {
      font-weight: bolder;
    }
    .header-top-line {
      position: relative;
      left: 10px;
      font-size: 2rem;
    }
    .header-bottom-line {
      position: absolute;
      left: 140px;
      top: 18px;
      color: greenyellow;
      font-size: 3rem;
    }
    .primary-color-bar, .secondary-color-bar {
      color: gray;
      opacity: 0.9;
      position: absolute;
      left: 0;
      z-index: -2;
      width: 120%;
    }
    .primary-color-bar {
      top: 10px;
    }
    .secondary-color-bar {
      top: 40px;
    }
  }
  .ib-right {
    width: 50%;
    .ib-right-text {
      display: block;
      margin: 0;
      font-weight: bolder;
      text-align: right;
    }
    .ib-right-text:nth-of-type(even) {
      color: greenyellow;
    }
  }
}

.list-container {
  width: 700px;
  margin: 20px auto;
  .list-item, .list-header {
    display: flex;
    position: relative;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: white;
    text-align: center;
    justify-content: space-around;
    .list-header-text {
      width: 60%;
      text-align: left;
      font-size: 1.2rem;
      font-style: italic;
    }
    hr {
      color: gray;
      opacity: 0.9;
      position: absolute;
      left: 0;
      width: 50%;
      z-index: -2;
    }
    hr:last-of-type {
      margin-left: 50%;
    }
  }
  .list-item:hover {
    transform: scale(1.2);
    transition-duration: 0.04s;
  }
}

.button {
  background: #212121;
  border-radius: 5px;
  border: 1px solid greenyellow;
  color: greenyellow;
}
.button:hover {
  background: greenyellow;
  color: #212121;
}
.button:disabled {
  background: #212121;
  color: #a1a1a1;
  border: 1px solid #a1a1a1;
}
.button-red {
  border: 1px solid red;
}
.button-red:hover {
  background: #212121;
  color: red;
}

.player-number {
  position: absolute;
  right: 22%;
  bottom: -5px;
  font-size: 2rem;
  opacity: 0.5;
  z-index: -1;
}

.player-position {
  position: absolute;
  left: 77%;
  bottom: -6px;
  font-size: 1.4rem;
  opacity: 0.7;
  z-index: 0;
  color: greenyellow;
}

.playform {
  width: 700px;
  margin: 10px auto 30px;
  .pf-section {
    width: 100%;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
  }
  .playform-team-select {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    label {
      font-size: 1.5rem;
    }
    input {
      margin: 0 5px;
    }
  }
  .playform-game-status {
    display: flex;
    .playform-game-period {
      width: 50px;
    }
    .playform-to-go, .playform-line-of-scrimmage {
      font-size: 1.2rem; 
      margin-left: 10px;
    }
  }
  .pf-field-position {
    position: relative;
    display: flex;
    flex-flow: column;
    gap: 5px;
    align-items: flex-end;
    margin: 5px 0;
    .pf-field-position-slider {
      -webkit-appearance: none;
      z-index: 2;
      appearance: none;
      width: 100%;
      height: 5px;
      border-radius: 5px;
      border: 1px solid greenyellow;
      background: #212121;
      flex-grow: 1;
    }
    .pf-field-position-slider::-webkit-slider-thumb {
      appearance: none;
      width: 2px;
      height: 10px;
      background-color: greenyellow;
    }
    .pf-field-position-slider::-moz-slider-thumb {
      appearance: none;
      width: 2px;
      height: 10px;
      background-color: greenyellow;
    }
    .pf-field-position-slider.slider-home::-webkit-slider-thumb {
      width: 0px;
      height: 16px;
      border-top: 8px solid transparent;
      border-left: 5px solid greenyellow;
      border-bottom: 8px solid transparent;
      background: transparent;
    }
    .pf-field-position-slider.slider-home::-moz-slider-thumb {
      width: 0px;
      height: 16px;
      border-top: 8px solid transparent;
      border-right: 5px solid greenyellow;
      border-bottom: 8px solid transparent;
      background: transparent;
    }
    .pf-field-position-slider.slider-away::-webkit-slider-thumb {
      width: 0px;
      height: 16px;
      border-top: 8px solid transparent;
      border-right: 5px solid greenyellow;
      border-bottom: 8px solid transparent;
      background: transparent;
    }
    .pf-field-position-slider.slider-away::-moz-slider-thumb {
      width: 0px;
      height: 16px;
      border-top: 8px solid transparent;
      border-right: 5px solid greenyellow;
      border-bottom: 8px solid transparent;
      background: transparent;
    }
    .pf-field-position-slider.slider-off::-webkit-slider-thumb {
      width: 0px;
      border: 0;
    }
    .pf-field-position-slider.slider-off::-moz-slider-thumb {
      width: 0px;
      border: 0;
    }
    .pf-field-position-clear {
      position: absolute;
      z-index: 1;
      right: 0;
      top: -26px;
      height: 19px;
      font-size: 0.7rem;
      line-height: 1;
      background: #212121;
      border-radius: 5px;
      border: 1px solid red;
      color: greenyellow;
    }
    .pf-field-position-clear:disabled {
      border: 1px solid rgb(136, 1, 1);
      color: rgb(86, 128, 24);
    }
  }
  .pf-pass {
    .pf-pass-root {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }
  .playform-interception {
    .pf-int-statline {
      display: flex;
      gap: 10px;
      align-items: baseline;
    }
  }
  .playform-type-radios {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
  }
  .playform-timebox {
    background: none;
    border: none;
    width: 3.1rem;
    font-family: monospace;
    color: greenyellow;
    font-size: 1.7rem;
    height: 30px;
    outline: 1px solid greenyellow;
  }
  .pf-creator-header {
    display: flex;
    height: auto;
    align-items: baseline;
    border-bottom: 1px solid greenyellow;
    padding-bottom: 8px;
    margin-bottom: 4px;
    p {
      height: 20px;
      margin-bottom: 0;
    }
    button {
      background: none;
      border-radius: 5px;
      border: 1px solid greenyellow;
      color: greenyellow;
      padding: 5px;
      line-height: 0.5;
      margin-left: 6px;
    }
  }
  .pf-creator-form {
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid greenyellow;
    padding-bottom: 8px;
    margin-bottom: 4px;
    p {
      margin-bottom: 0;
    }
    .pf-creator-form-add {
      background: none;
      border-radius: 5px;
      border: 2px solid gray;
      color: greenyellow;
      padding: 5px;
      line-height: 0.8;
      width: 50px;
      margin-top: 4px;
      margin-left: calc(50% - 25px);
    }
    .pf-lc-s1 {
      display: flex;
      gap: 10px;
    }
  }
  .pf-creator-collection {
    .pf-creator-collection-item {
      display: flex;
      align-items: center;
      border-top: 1px solid darkgray;
      padding: 4px 0;
      button {
        background: none;
        border-radius: 5px;
        border: 1px solid red;
        color: greenyellow;
        padding: 5px;
        font-size: 0.7rem;
        line-height: 0.5;
        margin-right: 6px;
        height: 20px;
      }
      p {
        margin: 0;
      }
    }
    .pf-creator-collection-item:first-of-type {
      border-top: none;
    }
  }
  label {
    display: flex;
  }
  .pf-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 10px 0;
  }
}

.player-select {
  display: inline;
}
.player-multi {
  .player-multi-header {
    display: flex;
    p {
      margin: 0 10px 0 0;
    }
  }
  .player-multi-collection {
    .player-multi-collection-item {
      display: flex;
      align-items: center;
      padding-top: 5px;
      height: auto;
      button {
        background: none;
        border-radius: 5px;
        border: 1px solid red;
        color: greenyellow;
        padding: 5px;
        font-size: 0.7rem;
        line-height: 0.5;
        margin-right: 6px;
        height: 20px;
      }
      p {
        margin: 0;
      }
    }
    .player-multi-collection-item:first-of-type {
      border-top: 1px solid darkgray;
      margin-top: 5px;
    }
  }
}

.game-stream {
  .game-stream-scores {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto 0 auto;
    h1 {
      width: 45%;
    }
    h1:first-of-type {
      text-align: right;
    }
    h2 {
      width: 10%;
      font-size: 2rem;
      padding: 0 10px;
    }
    .gs-has-ball-home {
      text-align: left;
    }
    .gs-has-ball-away {
      text-align: right;
    }
  }
  .game-stream-drive-info {
    width: 400px;
    margin: auto;
    p, h4 {
      margin: auto;
      width: 100%;
      text-align: center;
    }
  }
}
