* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: #212121;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 40px;
}

.welcome-box {
  width: 450px;
  height: 150px;
  box-shadow: inset 0 -55px 5px -50px greenyellow;
  margin: 30vh auto;
  .welcome-logo {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
    .welcome-the {
      color: white;
    }
    .welcome-backfield {
      color: greenyellow;
    }
  }
  .welcome-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 1.2rem;
  }
}

.nav {
  box-shadow: inset 0 -8px 10px -5px greenyellow;
  font-family: Verdana, Helvetica, sans-serif;
  font-weight: bold;
  .nav-the {
    color: white;
  }
  .nav-backfield {
    color: greenyellow;
  }
  .nav-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    flex-grow: 5;
    margin: 0;
    font-family: Tahoma, sans-serif;
    .nav-active {
      color: white;
      text-decoration: overline;
      text-decoration-color: greenyellow;
    }
  }
  .button {
    transform: scale(0.8);
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  box-shadow: inset 0 13px 10px -10px greenyellow;
  background: #212121;
  font-size: 0.7rem;
  z-index: 10;
  p {
    position: absolute;
    bottom: 0px;
    font-family:'Courier New', Courier, monospace;
    width: 100%;
    margin: 0;
    padding: 0 5px;
    text-align: right;
    color: rgba(172, 255, 47, 0.575);
    font-weight: bold;
  }
}

.info-box {
  display: flex;
  position: relative;
  width: 700px;
  margin: 20px auto 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  .ib-left {
    width: 50%;
    position: relative;
    .header-top-line, .header-bottom-line {
      font-weight: bolder;
    }
    .header-top-line {
      position: relative;
      left: 10px;
      font-size: 2rem;
    }
    .header-bottom-line {
      position: absolute;
      left: 140px;
      top: 18px;
      color: greenyellow;
      font-size: 3rem;
    }
    .primary-color-bar, .secondary-color-bar {
      color: gray;
      opacity: 0.9;
      position: absolute;
      left: 0;
      z-index: -2;
      width: 120%;
    }
    .primary-color-bar {
      top: 10px;
    }
    .secondary-color-bar {
      top: 40px;
    }
  }
  .ib-right {
    width: 50%;
    .ib-right-text {
      display: block;
      margin: 0;
      font-weight: bolder;
      text-align: right;
    }
    .ib-right-text:nth-of-type(even) {
      color: greenyellow;
    }
  }
}

.list-container {
  width: 700px;
  margin: 20px auto;
  .list-item, .list-header {
    display: flex;
    position: relative;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: white;
    text-align: center;
    justify-content: space-around;
    .list-header-text {
      width: 60%;
      text-align: left;
      font-size: 1.2rem;
      font-style: italic;
    }
    hr {
      color: gray;
      opacity: 0.9;
      position: absolute;
      left: 0;
      width: 50%;
      z-index: -2;
    }
    hr:last-of-type {
      margin-left: 50%;
    }
  }
  .list-item:hover {
    transform: scale(1.2);
    transition-duration: 0.04s;
  }
}

.button {
  background: #212121;
  border-radius: 5px;
  border: 1px solid greenyellow;
  color: greenyellow;
}
.button:hover {
  background: greenyellow;
  color: #212121;
}
.button:disabled {
  background: #212121;
  color: #a1a1a1;
  border: 1px solid #a1a1a1;
}
.button-red {
  border: 1px solid red;
}
.button-red:hover {
  background: #212121;
  color: red;
}

.player-number {
  position: absolute;
  right: 22%;
  bottom: -5px;
  font-size: 2rem;
  opacity: 0.5;
  z-index: -1;
}

.player-position {
  position: absolute;
  left: 77%;
  bottom: -6px;
  font-size: 1.4rem;
  opacity: 0.7;
  z-index: 0;
  color: greenyellow;
}

.playform {
  width: 700px;
  margin: 10px auto 30px;
  .pf-section {
    width: 100%;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
  }
  .playform-team-select {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    .check-button {
      font-size: 1.3rem;
      width: 40%;
    }
    .check-button.cb-selected {
      font-size: 1.5rem;
    }
  }
  .playform-game-status {
    width: 100%;
    margin: 5px 0 10px;
    .pf-gs-1 {
      display: flex;
      justify-content: space-between;
      width: 35%;
      margin: 10px auto;
      .pf-game-period {
        display: flex;
        font-size: 1.2rem;
        justify-content: right;
        p {
          margin: 0 4px;
        }
        .pf-game-period-select {
          width: 50px;
          height: 30px;
          font-size: 1.2rem;
          background: transparent;
          border: none;
          border-left: 1px solid gray;
          color: greenyellow;
        }
      }
    }
    .pf-gs-2 {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      font-size: 1rem;
      .pf-down {
        background: #212121;
        max-width: fit-content;
        color: greenyellow;
        text-align: right;
        border: none;
      }
      .pf-to-go {
        color: greenyellow;
      }
      .playform-line-of-scrimmage {
        font-size: 1rem;
        flex-grow: 1;
      }
    }
  }
  .pf-clock {
    display: flex;
    align-items: top;
    text-align: right;
    .pf-clock-label {
      margin: 0 5px;
      height: 30px;
      p {
        margin: 0;
        font-weight: bold;
        font-style: italic;
        font-size: 0.6rem;
        align-self: top;
      }
    }
    .playform-timebox {
      background: none;
      border: none;
      width: 3.1rem;
      font-family: monospace;
      color: greenyellow;
      font-size: 1.7rem;
      height: 30px;
      outline: 1px solid greenyellow;
    }
  }
  .pf-clock-end-wrapper {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    width: 35%;
  }
  .pf-field-position {
    position: relative;
    display: flex;
    flex-flow: column;
    gap: 5px;
    align-items: flex-end;
    margin: 5px 0;
    .pf-field-position-slider {
      -webkit-appearance: none;
      z-index: 2;
      appearance: none;
      width: 100%;
      height: 5px;
      border-radius: 5px;
      border: 1px solid greenyellow;
      background: #212121;
      flex-grow: 1;
    }
    .pf-field-position-slider::-webkit-slider-thumb {
      appearance: none;
      width: 2px;
      height: 10px;
      background-color: greenyellow;
    }
    .pf-field-position-slider::-moz-slider-thumb {
      appearance: none;
      width: 2px;
      height: 10px;
      background-color: greenyellow;
    }
    .pf-field-position-slider.slider-home::-webkit-slider-thumb {
      width: 0px;
      height: 16px;
      border-top: 8px solid transparent;
      border-left: 5px solid greenyellow;
      border-bottom: 8px solid transparent;
      background: transparent;
    }
    .pf-field-position-slider.slider-home::-moz-slider-thumb {
      width: 0px;
      height: 16px;
      border-top: 8px solid transparent;
      border-right: 5px solid greenyellow;
      border-bottom: 8px solid transparent;
      background: transparent;
    }
    .pf-field-position-slider.slider-away::-webkit-slider-thumb {
      width: 0px;
      height: 16px;
      border-top: 8px solid transparent;
      border-right: 5px solid greenyellow;
      border-bottom: 8px solid transparent;
      background: transparent;
    }
    .pf-field-position-slider.slider-away::-moz-slider-thumb {
      width: 0px;
      height: 16px;
      border-top: 8px solid transparent;
      border-right: 5px solid greenyellow;
      border-bottom: 8px solid transparent;
      background: transparent;
    }
    .pf-field-position-slider.slider-off::-webkit-slider-thumb {
      width: 0px;
      border: 0;
    }
    .pf-field-position-slider.slider-off::-moz-slider-thumb {
      width: 0px;
      border: 0;
    }
    .pf-field-position-clear {
      position: absolute;
      z-index: 1;
      right: 0;
      top: -26px;
      height: 19px;
      font-size: 0.7rem;
      line-height: 1;
      background: #212121;
      border-radius: 5px;
      border: 1px solid red;
      color: greenyellow;
    }
    .pf-field-position-clear:disabled {
      border: 1px solid rgb(136, 1, 1);
      color: rgb(86, 128, 24);
    }
  }
  .pf-sel-combo {
    display: flex;
    gap: 15px;
    p {
      margin: 0;
      color: greenyellow;
    }
  }
  .playform-interception {
    .pf-int-statline {
      display: flex;
      gap: 10px;
      align-items: baseline;
    }
  }
  .playform-type-radios {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
  }
  .pf-creator-header {
    display: flex;
    height: auto;
    align-items: baseline;
    border-bottom: 1px solid greenyellow;
    padding-bottom: 8px;
    margin-bottom: 4px;
    p {
      height: 20px;
      margin-bottom: 0;
    }
    button {
      background: none;
      border-radius: 5px;
      border: 1px solid greenyellow;
      color: greenyellow;
      padding: 5px;
      line-height: 0.5;
      margin-left: 6px;
    }
  }
  .pf-creator-form {
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid greenyellow;
    padding-bottom: 8px;
    margin-bottom: 4px;
    p {
      margin-bottom: 0;
    }
    .pf-creator-form-add {
      background: none;
      border-radius: 5px;
      border: 2px solid gray;
      color: greenyellow;
      padding: 5px;
      line-height: 0.8;
      width: 50px;
      margin-top: 4px;
      margin-left: calc(50% - 25px);
    }
    .pf-lc-s1 {
      display: flex;
      gap: 10px;
      margin: 7px 0;
    }
  }
  .pf-creator-collection {
    .pf-creator-collection-item {
      display: flex;
      align-items: center;
      border-top: 1px solid darkgray;
      padding: 4px 0;
      button {
        background: none;
        border-radius: 5px;
        border: 1px solid red;
        color: greenyellow;
        padding: 5px;
        font-size: 0.7rem;
        line-height: 0.5;
        margin-right: 6px;
        height: 20px;
      }
      p {
        margin: 0;
      }
    }
    .pf-creator-collection-item:first-of-type {
      border-top: none;
    }
  }
  .penalty-select {
    background: #212121;
    border-radius: 5px;
    color: white;
  }
  .pf-hr-gray {
    width: 100%;
    margin: 10px auto;
    border-bottom: 1px solid gray;
  }
  .pf-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 10px 0;
  }
  .pf-end-status {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-style: italic;
    font-size: 1rem;
    color: white;
    margin: 10px auto;
    gap: 20px;
    p {
      margin: 0;
    }
  }
  .player-select {
    background: #212121;
    border-radius: 5px;
    color: white;
    max-width: 200px;
  }
  .input-dark {
    background: #212121;
    border: 1px solid gray;
    color: white;
    border-radius: 5px;
  }
}

.player-select {
  display: inline;
}
.player-multi {
  .player-multi-header {
    display: flex;
    p {
      margin: 0 10px 0 0;
    }
  }
  .player-multi-collection {
    .player-multi-collection-item {
      display: flex;
      align-items: center;
      padding-top: 5px;
      height: auto;
      button {
        background: none;
        border-radius: 5px;
        border: 1px solid red;
        color: greenyellow;
        padding: 5px;
        font-size: 0.7rem;
        line-height: 0.5;
        margin-right: 6px;
        height: 20px;
      }
      p {
        margin: 0;
      }
    }
    .player-multi-collection-item:first-of-type {
      border-top: 1px solid darkgray;
      margin-top: 5px;
    }
  }
}

.game-stream {
  position: relative;
  width: 1100px;
  margin: 10px auto 30px;
  .game-stream-status {
    display: flex;
    width: 100%;
    min-height: 100px;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto 0 auto;
    .gs-status-home-name, .gs-status-away-name {
      position: relative;
      width: 420px;
      .name-loc, .name-nick {
        font-weight: bolder;
      }
      .name-loc {
        position: relative;
        font-size: 2rem;
        color: white;
      }
      .name-nick {
        position: absolute;
        top: 18px;
        color: greenyellow;
        font-size: 3rem;
      }
      .primary-color-bar, .secondary-color-bar {
        color: gray;
        opacity: 0.95;
        position: absolute;
        left: 0;
        z-index: -2;
        width: 100%;
      }
      .primary-color-bar {
        top: 10px;
      }
      .secondary-color-bar {
        top: 40px;
      }
    }
    .gs-status-home-score, .gs-status-away-score {
      position: absolute;
      top: -10px;
      font-size: 3rem;
      font-weight: bold;
      color: white;
      z-index: 2;
      text-shadow: 5px 5px black;
    }
    .gs-status-home-name {
      .name-loc {
        left: 80px;
      }
      .name-nick {
        left: 20px;
      }
      .gs-status-home-score {
        right: -20px;
      }
    }
    .gs-status-away-name {
      .name-loc {
        text-align: right;
        right: 80px;
      }
      .name-nick {
        right: 20px;
      }
      .gs-status-away-score {
        left: -20px;
      }
    }
    .gs-status-home-poss, .gs-status-away-poss {
      width: 20px;
      h2 {
        margin: 0;
      }
    }
    .gs-status-info {
      .gssi-clock {
        font-size: 1.2rem;
      }
      .gssi-ball-on {
        font-size: 0.8rem;
        color: greenyellow;
      }
      p {
        text-align: center;
        margin: 0;
      }
    }
  }
  .gs-drive-info-topline {
    position: relative;
    width: 100%;
    .game-stream-drive-info {
      position: absolute;
      top: 100px;
      width: 200px;
      margin: auto;
      p, h4 {
        margin: auto;
        width: 100%;
        text-align: center;
      }
      .game-stream-current-drive-header {
        color: greenyellow;
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
    .gsdi-upper {
      position: relative;
      top: 0;
      display: flex;
      width: 100%;
      justify-content: center;
      p, h4 {
        width: auto;
        margin: 0 10px;
      }
    }
  }
  .gs-last-play {
    width: 800px;
    margin: 0 auto;
    .gs-last-play-header {
      display: flex;
      gap: 10px;
      width: 600px;
      margin: 10px auto 0;
      font-size: 1rem;
      font-weight: bold;
      p {
        margin: 0;
      }
      .gs-last-play-text {
        color: white;
      }
      .gs-last-play-down {
        color: greenyellow;
      }
    }
  }
}

.gamestream-field {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 604px;
  height: 267px;
  /* border: 2px solid #45ff12; */
  border: 2px solid greenyellow;
  border-radius: 5px;
  margin: 10px auto;
  .gsf-to-gain {
    position: absolute;
    height: 100%;
    width: 0;
    border: 1px solid #eb5547;
    left: 50%;
  }
  .gsf-drive {
    position: absolute;
    height: 100%;
    width: 0;
    left: 50%;
    z-index: -2;
  }
  .gsf-ball-on {
    position: absolute;
    height: 100%;
    width: 0;
    border: 1px solid greenyellow;
    left: 50%;
  }
  .gsf-yardline {
    height: 100%;
    width: 0px;
    border: 1px solid white;
    z-index: -2;
  }
  :nth-child(1 of .gsf-yardline), :nth-last-child(1 of .gsf-yardline) {
    border: 1px solid greenyellow;
  }
  .gsf-home-team-endzone, .gsf-away-team-endzone {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50px;
    background: linear-gradient();
    z-index: -3;
    p {
      margin: 0 auto;
      height: 263px;
      writing-mode: vertical-rl;
      text-align: center;
      vertical-align: center;
      font-weight: bold;
      font-size: 1.5rem;
      text-shadow: 2px 2px black;
    }
  }
  .gsf-away-team-endzone {
    right: 0;
    border-radius: 0 3px 3px 0;
  }
  .gsf-home-team-endzone {
    left: 0;
    border-radius: 3px 0 0 3px;
    p {
      transform: rotate(-180deg);
    }
  }
}
.gsf-slim {
  height: 40px;
}

.stat-bar {
  width: 100%;
  text-align: center;
  .stat-bar-interior-wrapper {
    position: relative;
    display: inline-block;
    max-width: 100%;
    min-width: 604px;
    margin: 0 auto;
    border: 2px solid gray;
    border-radius: 5px;
    .sbtn-container {
      position: absolute;
      top: 0;
      height: 100%;
      width: 50px;
      pointer-events: none;
      .primary-color-bar, .secondary-color-bar {
        position: absolute;
        writing-mode: vertical-lr;
        border: 1px solid gray;
        height: 100%;
      }
      .stat-bar-team-name {
        position: sticky;
        display: block;
        top: 15px;
        font-size: 2rem;
        font-weight: bold;
        width: 100%;
        writing-mode: vertical-rl;
        .sbtn-nick {
          color: greenyellow;
        }
      }
    }
    .sbtn-home {
      left: -3rem;
      .stat-bar-team-name {
        transform: rotate(-180deg);
      }
      .primary-color-bar {
        left: 0;
      }
      .secondary-color-bar {
        left: -1rem;
      }
    }
    .sbtn-away {
      right: -3rem;
      .primary-color-bar {
        right: 0;
      }
      .secondary-color-bar {
        right: -1rem;
      }
    }
    .stat-bar-section {
      margin: 3px 0;
      .stat-bar-section-title {
        font-size: 0.8rem;
        font-weight: bold;
        color: white;
        margin: 0;
      }
      .stat-bar-section-content {
        position: relative;
        height: auto;
        min-height: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 3px;
        .stat-bar-column {
          min-width: 50%;
          display: grid;
          font-size: 0.8rem;
          /* Number of repeated columns indicates max number of stats per row of the grid, (first column auto is the player name)
          Can be increased as needed as long as .sbli-stat.last is increased accordingly (repeated columns + 2) */
          grid-template-columns: auto repeat(10, max-content);
          padding: 0 6px;
          margin-bottom: auto;
          .sbli-player-name {
            font-weight: bold;
            text-align: left;
            margin: 0;
            width: 100%;
            padding-left: 4px;
            
          }
          .sbli-player-name:focus {
            border-left: 2px solid greenyellow;
            outline: none;
          }
          .sbli-player-number {
            margin-left: 3px;
            font-size: 0.6rem;
            color: greenyellow;
            font-weight: bold;
          }
          .sbli-stat {
            text-align: right;
            margin-left: 8px;
          }
          .sbli-stat.last {
            /* Value should be two more than the number of repeated columns in .stat-bar-column */
            grid-column-end: 12;
          }
          .sbli-ratio-slash {
            color: greenyellow;
          }
          .sbli-units {
            margin-left: 3px;
            font-size: 0.5rem;
            color: greenyellow;
            font-weight: bold;
          }
          .sbli-hr {
            grid-column: 1 / 12;
            border-bottom: 1px solid rgba(172, 255, 47, 0.629);
            margin: 1px 0;
          }
          .sbli-hr:last-of-type {
            display: none;
          }
        }
        .stat-bar-column.ticker {
          width: 100%;
          padding: 0;
          .sbli-hr {
            display: none;
          }
        }
        .stat-bar-vertical-divider {
          position: absolute;
          width: 0;
          border: 1px solid gray;
          left: calc(50% - 1px);
          height: 100%;
        }
      }
      .stat-bar-section-divider {
        border-top: 2px solid gray;
        opacity: 1;
        margin: 0 3px;
      }
    }
    .sb-expand {
      font-size: 0.8rem;
      background: none;
      color: greenyellow;
      border: none;
      margin: 0 0 3px 0;
    }
    .sb-expand:hover {
      font-weight: bold;
    }
  }
}

.play-segment {
  .play-segment-line {
    position: absolute;
    border: 1px solid white;
    top: 18px;
    height: 0;
  }
  .play-segment-marker {
    position: absolute;
    top: 15px;
    height: 0;
    margin: 0;
    border: 4px solid white;
    border-radius: 4px;
  }
}

.modal-trap-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 20;
  .modal-backdrop {
    width: 100%;
    height: 100%;
    background: #80808050;
  }
}

.std-mod {
  position: relative;
  top: 20vh;
  margin: auto;
  width: fit-content;
  max-width: 100vw;
  height: fit-content;
  background: #212121;
  border: 2px solid greenyellow;
  border-radius: 5px;
  box-shadow: 5px 5px 3px -2px black;
  padding: 5px 10px;
}

.full-stats-modal {
  .fs-mod-header {
    width: max-content;
    margin: auto;
    .fs-mod-header-player {
      .fs-mod-header-number {
        color: greenyellow;
        font-size: 1.5rem;
      }
    }
  }
  .fs-mod-stat-container {
    .fs-mod-stat-container-header {
      font-weight: bold;
      color: greenyellow;
    }
    .fs-mod-stat-line {
      display: flex;
      justify-content: flex-end;
    }
  }
  .fs-mod-divider {
    width: 100%;
    border-bottom: 1px solid gray;
    margin: 2px 0;
  }
  button {
    margin-top: 5px;
  }
}

.delete-play-modal {
  max-width: 400px;
  .dp-mod-text {
    font-size: 0.8rem;
  }
  .dp-mod-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5px;
  }
}

.check-button {
  font-size: 0.8rem;
  color: white;
  color: gray;
  background: none;
  border: none;
  border-top: 2px solid transparent;
  padding: 0;
  font-weight: bold;
}
.check-button:hover {
  background: none;
  border-top: 2px solid greenyellow;
}
.check-button.cb-selected {
  background: none;
  border-top: 2px solid greenyellow;
  color: white;
}
.check-button.cb-selected:hover {
  border-top: 2px solid transparent;
}

.txt-gy {
  color: greenyellow;
}
.txt-rd {
  color: #eb5547;
}
.flex {
  display: flex;
}
.flex.around {
  justify-content: space-around;
}
.flex.evenly {
  justify-content: space-evenly;
}
.flex.gap-10 {
  gap: 10px;
}
.flex.gap-20 {
  gap: 20px;
}
.mbot-10 {
  margin-bottom: 10px;
}
.mtop-10 {
  margin-top: 10px;
}
.width {
  width: 100%;
}

.hidden {
  display: none;
}
